@if (value === "delegate") {
<div class="team"><h1>MY TEAM</h1></div>

<div>
  <h2>{{ myTeam.team_name }}</h2>
  <img src="{{ myTeam.team_logo }}" alt="{{ myTeam.team_name }}" />
  <h3>Delegate:</h3>
  <h2>{{ myTeam.team_delegate }}</h2>
</div>

<h2>Players</h2>
@for (player of players; track players.player_id) {
<div [routerLink]="['/CloudMatch/Player', player.player_id]">
  <img src="{{ player.player_photo }}" alt="{{ player.player_nickname }}" />
  <h3>{{ player.player_nickname }}</h3>
</div>
} } @else {
@if (Object.keys(team).length > 0) {
<div>
  <h2>{{ team.team_name }}</h2>
  <img src="{{ team.team_logo }}" alt="{{ team.team_name }}" />
  <h3>Delegate:</h3>
  <h2>{{ team.team_delegate }}</h2>
</div>
} }

<div>
  @if (Object.keys(team).length > 0) {
  <h2>Players</h2>
  @for (player of players; track players.player_id) {
  <div [routerLink]="['/CloudMatch/Player', player.player_id]">
    <img src="{{ player.player_photo }}" alt="{{ player.player_nickname }}" />
    <h3>{{ player.player_nickname }}</h3>
  </div>
  } }
</div>
