#login_div {
  width: 100%;
  height: 130%;
  padding: 50px 0;
  background-image: url("../../../assets/background_login.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 60%,
      rgb(33, 158, 188) 100%
    );
    pointer-events: none;
    z-index: 1;
  }
}

#logo {
  height: 35%;
  z-index: 2;
}

cloudMatch-login, cloudMatch-register {
  z-index: 2;
}



#app_info {
  background-color: rgb(33, 158, 188);
  color: white;
  padding: 20px;

  p {
    margin: 1px;
  }
}

#register_div {
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/background_register.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0) 60%,
      rgb(33, 158, 188) 100%,
     
    );
    pointer-events: none;
    z-index: 1;
  }
}


// @media (max-width: 3000px) {
//   #login_div {
//     display: flex;
//   }

//   .background {
//     width: 500px;
//     height: 500px;
//   }

//   cloudMatch-login {
//     display: flex;
//     align-items: center;
//   }
// }
