<div id="login_div">
  <img id="logo" src="../../../assets/cloud_match_logo.png" alt="logo">
  <cloudMatch-login></cloudMatch-login>
</div>
<div id="app_info">
  <h1>What is CloudMatch</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero officiis
    quasi maxime sequi commodi, ad tempore et nostrum dignissimos delectus hic
    nam asperiores dolores dolorum excepturi cum, natus numquam officia? Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Ut ex veritatis alias
    libero tempora quasi. Quae cupiditate tempore, sunt reprehenderit suscipit,
    omnis eos consequuntur mollitia nostrum repellat repudiandae numquam cum.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel obcaecati
    deserunt quis architecto aspernatur officia totam, consequuntur ex quidem
    vero temporibus distinctio blanditiis itaque a odit nam! Obcaecati,
    voluptates iusto!
  </p>
</div>
<div id="register_div"><cloudMatch-register></cloudMatch-register></div>
