<p>Welcome back, {{ activeUser.user_name }} {{ activeUser.user_surname }}</p>
<a [routerLink]="['/CloudMatch/HOME']">HOME</a>
@if (activeUser.role === "Admin") {
<a [routerLink]="['/CloudMatch/CREATE', { type: 'league' }]">Create League</a>
<a [routerLink]="['/CloudMatch/CREATE', { type: 'team' }]">Create Team</a>
<a [routerLink]="['/CloudMatch/CREATE', { type: 'match' }]">Create Match day</a>
<a [routerLink]="['/CloudMatch/CREATE', { type: 'edit_role' }]"
  >Edit Roles</a
>
} @else if (activeUser.role === "Team Delegate") {
<a [routerLink]="['/CloudMatch/Team', { type: 'delegate' }]">My Team</a>
<a [routerLink]="['/CloudMatch/CREATE', { type: 'player' }]">Add Player</a>
} @else if (activeUser.role === "Referee") {
<h4>Input</h4>
}
<a (click)="logOut()">Logout</a>

<router-outlet></router-outlet>
