@if (value === "league") {

<form (ngSubmit)="createLeague(league)">
  <input
    type="text"
    name="leagueName"
    placeholder="League name"
    [(ngModel)]="league.league_name"
  />
  <br />
  <input type="date" name="leagueStartDate" [(ngModel)]="league.start_date" />
  <br />
  <input type="date" name="leagueEndDate" [(ngModel)]="league.end_date" />
  <br />
  <input type="submit" value="Create League" />
</form>

@if (alert !== '' && error === '') {
<h3>{{ alert }}</h3>
} @else if (error !== '' && alert === '') {
<h3>{{ error }}</h3>
} @else {} } @else if (value === "team") {

<form (ngSubmit)="createTeam(team)">
  <input
    type="text"
    name="teamName"
    placeholder="Team name"
    [(ngModel)]="team.team_name"
  />
  <br />
  <mat-form-field>
    <mat-label>Select a Team delegate</mat-label>
    <mat-select [(value)]="selectedUserId">
      @for (user of users; track users.user_id) {
      <mat-option value="{{ user.user_id }}"
        >{{ user.user_name }} {{ user.user_surname }}</mat-option
      >
      }
    </mat-select>
  </mat-form-field>
  <br />
  <input type="submit" value="Create Team" />
</form>

@if (alert !== '' && error === '') {
<h3>{{ alert }}</h3>
} @else if (error !== '' && alert === '') {
<h3>{{ error }}</h3>
} @else {} } @else if (value === "match") {
<p>You're going to create a match</p>
} @else if (value === "player") { You're going to create a player }
