#create{
    background-color: #1d1d1d;
    padding: 120px 150px 130px 35px;
    
    margin-top: 68px;
    h2 {
        color: white;
        margin: 0;
    }

    .divider {
        background-color:  rgb(255, 255, 255);
        height: 2px;
        margin: 20px 0;
    }


    .alert{
        color: white;
    }

}