<match [leagueId]="leagueInfo.league_id" />
<div id="league">
  <h1>LEAGUE</h1>
  <div class="league_content">
    @if (!leaguesError) {
    <mat-form-field>
      <mat-label>Select a league</mat-label>
      <mat-select
        [(value)]="selectedLeagueId"
        (valueChange)="getParticipants(selectedLeagueId)"
      >
        @for (league of leagues; track leagues.league_id) {
        <mat-option value="{{ league.league_id }}">{{
          league.league_name
        }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    } @else {
    <mat-label>{{ leaguesError }}</mat-label>
    } @if(Object.keys(leagueInfo).length > 0) {
    <calendar [leagueId]="leagueInfo.league_id" />
    <div class="league_data">
      <div class="image">
        <div class="image_background">
          <img
            src="{{ leagueInfo.league_logo }}"
            alt="{{ leagueInfo.league_name }}"
          />
        </div>

        <h3>{{ leagueInfo.league_name }}</h3>
        <h5>{{ leagueInfo.start_date }} - {{ leagueInfo.end_date }}</h5>
        @if (activeUser.role === "Team Delegate") {
        <button (click)="participateTeamIntoLeague(leagueInfo.league_id)">
          Participate team into {{ leagueInfo.league_name }}
        </button>
        {{ alert }}
        }
      </div>
    </div>
    @if (participants.length !== 0) {
    <div class="participants_content">
      <mat-divider class="divider"></mat-divider>
      <div class="participants_data">
        <h4>Logo</h4>
        <h4>Name</h4>
        <h4>Score</h4>
      </div>
      <mat-divider class="divider"></mat-divider>
      @for (participant of participants; track participant.team_id) {
      @if(activeUser.user_id === participant.team_delegate){
      <div
        class="participants_data"
        [routerLink]="['/CloudMatch/Team', { type: 'delegate' }]"
      >
        <div class="imagae">
          <img
            src="{{ participant.team_logo }}"
            alt="{{ participant.team_name }}"
          />
        </div>
        <h3>{{ participant.team_name }}</h3>
        <h3>{{ participant.score }}</h3>
      </div>
      } @else {
      <div
        class="participants_data"
        [routerLink]="['/CloudMatch/Team', { info: participant.team_name }]"
      >
        <div class="imagae">
          <img
            src="{{ participant.team_logo }}"
            alt="{{ participant.team_name }}"
          />
        </div>
        <h3>{{ participant.team_name }}</h3>
        <h3>{{ participant.score }}</h3>
      </div>
      }

      <mat-divider class="participants_divider"></mat-divider>
      }
    </div>
    } @else {
    <br />
    {{ error }}
    } } @else {
    <br />
    }
  </div>
</div>
