#calendar {
  h1 {
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(142, 202, 230);
    color: #1d1d1d;
    padding: 15px;
    font-size: 25px;
    text-align: center;
  }

  background: rgb(255, 255, 255);
  color: #1d1d1d;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 2px solid #ffffff;
  -webkit-box-shadow: 2px 4px 5px 2px #2d2d2d;
  -moz-box-shadow: 2px 4px 5px 2px #2d2d2d;
  box-shadow: 2px 4px 5px 2px #2d2d2d;
  border-radius: 10px;

}

.calendar_content {
  h4, h3{
    margin: 0;
  }
  padding: 15px 8px 15px 8px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  font-size: small;
}

.divider {
  background-color: #1d1d1d;
  margin: 0 10px 0 10px;
}
