<br />

@if (activeUser.role === "Referee") {

<h2>IN GAME</h2>

<!-- local -->
<div
  class="example"
  cdkDropList
  #inGameLocalList="cdkDropList"
  [cdkDropListData]="inGameLocal"
  [cdkDropListConnectedTo]="[localBenchList]"
  class="example-list"
  (cdkDropListDropped)="drop($event)"
>
  @for (lPlayer of inGameLocal; track inGameLocal.player_id) {
  <button (click)="btn(lPlayer.player_id, 'local')" cdkDrag>
    {{ lPlayer.player_number }} {{ lPlayer.player_nickname }}
  </button>
  }
</div>

<!-- visitor -->

<div
  class="example"
  cdkDropList
  #inGameVisitorList="cdkDropList"
  [cdkDropListData]="inGameVisitor"
  [cdkDropListConnectedTo]="[visitorBenchList]"
  class="example-list"
  (cdkDropListDropped)="drop($event)"
>
  @for (vPlayer of inGameVisitor; track inGameVisitor.player_id) {
  <button (click)="btn(vPlayer.player_id, 'visitor')" cdkDrag>
    {{ vPlayer.player_number }} {{ vPlayer.player_nickname }}
  </button>
  }
</div>

<h2>BENCH</h2>

<!-- local -->

<div
  cdkDropList
  #localBenchList="cdkDropList"
  [cdkDropListData]="benchLocalStorage ? benchLocalStorage : benchLocal"
  [cdkDropListConnectedTo]="[inGameLocalList]"
  class="example-list"
  (cdkDropListDropped)="drop($event)"
>
  @for (lPlayer of benchLocalStorage ? benchLocalStorage : benchLocal; track
  benchLocalStorage ? benchLocalStorage.player_id : benchLocal.player_id) {
  <button (click)="btn(lPlayer.player_id, 'local')" cdkDrag>
    {{ lPlayer.player_number }} {{ lPlayer.player_nickname }}
  </button>
  }
</div>

<!-- visitor -->

<div
  cdkDropList
  #visitorBenchList="cdkDropList"
  [cdkDropListData]="benchVisitorStorage ? benchVisitorStorage : benchVisitor"
  [cdkDropListConnectedTo]="[inGameVisitorList]"
  class="example-list"
  (cdkDropListDropped)="drop($event)"
>
  @for (vPlayer of benchVisitorStorage ? benchVisitorStorage : benchVisitor ;
  track benchVisitorStorage ? benchVisitorStorage.player_id :
  benchVisitor.player_id) {
  <button (click)="btn(vPlayer.player_id, 'visitor')" cdkDrag>
    {{ vPlayer.player_number }} {{ vPlayer.player_nickname }}
  </button>
  }
</div>

<button (click)="thisbtn()">aaaa</button>

} @else {

<h2>IN GAME</h2>

@for (lPlayer of inGameLocal; track inGameLocal.player_id) {
<h5>{{ lPlayer.player_number }} {{ lPlayer.player_nickname }}</h5>
<br />
} 
@for (vPlayer of inGameVisitor; track inGameVisitor.player_id) {
<h5>{{ vPlayer.player_number }} {{ vPlayer.player_nickname }}</h5>
}

<h2>BENCH</h2>

@for (lPlayer of benchLocalStorage; track benchLocalStorage.player_id ) {
<h5>{{ lPlayer.player_number }} {{ lPlayer.player_nickname }}</h5>
}
<br />
@for (vPlayer of benchVisitorStorage ; track benchVisitorStorage.player_id ) {
<h5>{{ vPlayer.player_number }} {{ vPlayer.player_nickname }}</h5>
} 
}

<br />
